.formContact {
    padding: 50px;
    padding-top: 0;
}

.titleContact {
    margin: 15px;
}

.formContact > form > input {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
}

.formContact > form > textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.buttonRow {
    text-align: center;
}

.contactBtn {
    background: #000000;    
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.32;
    padding: 0.85rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;  
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.contactBtn:hover {
    background-color: #333;
}