.aboutCol {
    padding: 0 65px; 
}


.aboutTitle {
    color: #444343;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.aboutParagraph {
    font-family: 'Slabo 27px', serif;
    color: #2F2E2E;
    font-size: 17px;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
}

.aboutSignature {
    text-align: right;
    margin-top: 55px;
    line-height: 0.9;
    position: relative;
}

.signature {
    width: 200px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    top: -40px;
    right: 30px;
}

.aboutSig1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.aboutSig2 {
    font-weight: 100;
    font-style: italic;
    font-size: 13px;
}

.contactCol {
    display: block;
    text-align: center;
}

.contactMe {
    display: block;
    width: 100%;
    text-align: center
}

.blockContact {
    background-color: white;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.blockContact > img {
    margin-bottom: 20px;
}

.blockContact .title {
    padding-left: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #575252;
    letter-spacing: 0.09em;
}

.blockContact .sub {
    padding-left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #575252;
    letter-spacing: 0.09em;
    font-family: 'Slabo 27px', serif;
}

.blockContact .email {
    font-size: 15px;
    font-weight: 500;
    color: #575252;
    letter-spacing: 0.09em;
    font-family: 'Slabo 27px', serif;
    text-decoration: underline;
}

.blockContact > a {
    color: #959595;
}

.blockContact > a:hover {
    color: #333;
}

.formContact {
    padding: 50px;
    padding-top: 0;
}



.titleContact {
    margin: 15px;
}

.formContact > form > input {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
}

.formContact > form > textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.buttonRow {
    text-align: center;
}

.contactBtn {
    background: #000000;    
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.32;
    padding: 0.85rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;  
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.contactBtn:hover {
    background-color: #333;
}

