footer {
    background: #181818;
    color: #cccccc;
    display: table-row;
}

.footer_credits_oficial {
    color: #bbbbbb;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 0px;
    margin-bottom: 0;
    margin-top: 5%;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.footer-social {
    position: relative;
    z-index: 2;
}

.footer-social ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-social ul li {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    list-style: none;
    margin: 0;
        margin-right: 0px;
    margin-right: 40px;
    padding: 0;
    text-transform: uppercase;
}

.footer-social ul li a {
    color: #cccccc;
}

.footer-social ul li a span {
    margin-left: 5px;
}

.svg-inline--fa {
    vertical-align: -0.3em;
}