html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: table;
  height: 100%;
  width: 100%;

  background-color: #efefef;
  color: #333333;
  font-family: Montserrat, Helvetica, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#root {

  display: table;
  width: 100%;
  height: 100%;

}

.App {

  display: table;
  width: 100%;
  height: 100%;

}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}