html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: table;
  height: 100%;
  width: 100%;

  background-color: #efefef;
  color: #333333;
  font-family: Montserrat, Helvetica, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#root {

  display: table;
  width: 100%;
  height: 100%;

}

.App {

  display: table;
  width: 100%;
  height: 100%;

}

.content {
  margin: 25px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid gray;
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 14px;
  letter-spacing: 0.05em;
}